In [2]:
import pymongo
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\Rahul Matai\Desktop\mongo_bigdata\Players.csv')
df1 = pd.read_csv(r'C:\Users\Rahul Matai\Desktop\mongo_bigdata\Teams.csv')

In [3]:
player_dict = df.to_dict()
teams_dict = df1.to_dict()

In [4]:
print(df.shape,df1.shape)

(595, 8) (32, 10)

In [5]:
df.describe()

          minutes       shots      passes     tackles       saves
count  595.000000  595.000000  595.000000  595.000000  595.000000
mean   208.863866    2.304202   84.521008    4.191597    0.667227
std    145.433556    3.347430   77.310368    4.654052    2.955936
min      1.000000    0.000000    0.000000    0.000000    0.000000
25%     88.000000    0.000000   29.000000    1.000000    0.000000
50%    191.000000    1.000000   61.000000    3.000000    0.000000
75%    270.000000    3.000000  115.500000    6.000000    0.000000
max    570.000000   27.000000  563.000000   34.000000   20.000000

In [6]:
df1.describe()

,ranking,games,wins,draws,losses,goalsFor,goalsAgainst,yellowCards,redCards
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.00000,32.000000,32.000000,32.000000
mean,26.031250,3.875000,1.437500,1.000000,1.437500,4.34375,4.343750,7.156250,0.500000
std,24.233387,1.070122,1.522678,0.879883,0.715609,3.28839,2.208625,2.760427,0.718421
min,1.000000,3.000000,0.000000,0.000000,0.000000,0.00000,1.000000,2.000000,0.000000
25%,8.750000,3.000000,0.750000,0.000000,1.000000,2.00000,3.000000,5.000000,0.000000
50%,19.500000,3.500000,1.000000,1.000000,1.000000,3.00000,5.000000,7.000000,0.000000
75%,32.500000,4.250000,2.000000,1.250000,2.000000,5.25000,5.000000,8.250000,1.000000
max,105.000000,6.000000,6.000000,3.000000,3.000000,13.00000,12.000000,15.000000,2.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 595 entries, 0 to 594
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   surname   595 non-null    object
 1   team      595 non-null    object
 2   position  595 non-null    object
 3   minutes   595 non-null    int64
 4   shots     595 non-null    int64
 5   passes    595 non-null    int64
 6   tackles   595 non-null    int64
 7   saves     595 non-null    int64
dtypes: int64(5), object(3)
memory usage: 37.3+ KB

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   team          32 non-null     object
 1   ranking       32 non-null     int64
 2   games         32 non-null     int64
 3   wins          32 non-null     int64
 4   draws         32 non-null     int64
 5   losses        32 non-null     int64
 6   goalsFor      32 non-null     int64
 7   goalsAgainst  32 non-null     int64
 8   yellowCards   32 non-null     int64
 9   redCards      32 non-null     int64
dtypes: int64(9), object(1)
memory usage: 2.6+ KB

In [10]:
import pymongo

myclient = pymongo.MongoClient("mongodb+srv://rahu:uQVq.M9jA5F8bXT@cluster0.e56nbjp.mongodb.net/test")


mydb = myclient["gamedp"]
player = mydb["players"]
team = mydb['teams']

In [12]:
#!mydb.drop_collection(team)

{'nIndexesWas': 1,
 'ns': 'gamedp.teams',
 'ok': 1.0,
 '$clusterTime': {'clusterTime': Timestamp(1670960360, 14),
  'signature': {'hash': b'\xc8\xc3\x9f\x95V\xd6=gg\x82\x0eQ|N\xc7\xa0\xbf\xfa\xf5&',
   'keyId': 7140998027182866434}},
 'operationTime': Timestamp(1670960360, 14)}

In [16]:
#inserting players in to players collection
import csv
header = [ "surname","team","position","minutes","shots","passes","tackles","saves"]
csvfile = open(r'C:\Users\Rahul Matai\Desktop\mongo_bigdata\Players.csv', 'r')
reader = csv.DictReader( csvfile )
for each in reader:
    row={}
    for field in header:
        row[field]=each[field]
        if field == 'minutes':
            row[field]= int(each[field]) 
        if field == 'shots':
            row[field]= int(each[field])
        if field == 'passes':
            row[field]= int(each[field])
        if field == 'tackles':
            row[field]= int(each[field])
        if field == 'saves':
            row[field]= int(each[field])    
        
        
        #print (row)
    player.insert_one(row)

In [19]:
#inserting teams in to teams collection
import csv
header = [ "team","ranking","games","wins","draws","losses","goalsFor","goalsAgainst","yellowCards","redCards"]
csvfile = open(r'C:\Users\Rahul Matai\Desktop\mongo_bigdata\Teams.csv', 'r')
reader = csv.DictReader( csvfile )
for each in reader:
    row={}
    for field in header:
        row[field]=each[field]
        if field == 'ranking':
            row[field]= int(each[field]) 
        if field == 'games':
            row[field]= int(each[field])
        if field == 'wins':
            row[field]= int(each[field])
        if field == 'draws':
            row[field]= int(each[field])
        if field == 'losses':
            row[field]= int(each[field]) 
        if field == 'goalsFor':
            row[field]= int(each[field])
        if field == 'goalsAgainst':
            row[field]= int(each[field])
        if field == 'yellowCards':
            row[field]= int(each[field]) 
        if field == 'redCards':
            row[field]= int(each[field]) 
    #print (row)

    team.insert_one(row)

In [21]:
a = []
for i in team.find():
    a.append(i)


print(len(a))

32

In [22]:
result_1 = player.find({
    "$and" : [{
               "passes" : { "$gt" : 100}
              },
              {
               "team" : { "$regex" : "(ia)"}
              },
              {
               "minutes" : { "$lt" : 200}
              }
             ]
},{'surname'})
for x in result_1:
  print(x['surname'])

Kuzmanovic

In [23]:
result_2 = player.find({"shots":{"$gt":20}}).sort("shots",-1)
for x in result_2:
      print(x)

{'_id': ObjectId('6398d50c4313c62222959159'), 'surname': 'Gyan', 'team': 'Ghana', 'position': 'forward', 'minutes': 501, 'shots': 27, 'passes': 151, 'tackles': 1, 'saves': 0}
{'_id': ObjectId('6398d52e4313c622229592a8'), 'surname': 'Villa', 'team': 'Spain', 'position': 'forward', 'minutes': 529, 'shots': 22, 'passes': 169, 'tackles': 2, 'saves': 0}
{'_id': ObjectId('6398d5014313c622229590ad'), 'surname': 'Messi', 'team': 'Argentina', 'position': 'forward', 'minutes': 450, 'shots': 21, 'passes': 321, 'tackles': 10, 'saves': 0}

In [15]:

client = pymongo.MongoClient('mongodb+srv://rahu:uQVq.M9jA5F8bXT@cluster0.e56nbjp.mongodb.net/test')
result = client['gamedp']['players'].aggregate([
    {
        '$lookup': {
            'from': 'teams', 
            'localField': 'team', 
            'foreignField': 'team', 
            'as': 'res'
        }
    }, {
        '$match': {
            'res.games': {
                '$gt': 4
            }
        }
    }, {
        '$match': {
            'position': 'goalkeeper'
        }
    }, {
        '$project': {
            'surname': 1, 
            'team': 1, 
            'minutes': 1
        }
    }
])

for i in result:
    print(i)

{'_id': ObjectId('6398d5024313c622229590b3'), 'surname': 'Romero', 'team': 'Argentina', 'minutes': 450}
{'_id': ObjectId('6398d5044313c622229590d3'), 'surname': 'Julio Cesar', 'team': 'Brazil', 'minutes': 450}
{'_id': ObjectId('6398d50a4313c6222295914c'), 'surname': 'Neuer', 'team': 'Germany', 'minutes': 540}
{'_id': ObjectId('6398d50d4313c6222295915d'), 'surname': 'Kingson', 'team': 'Ghana', 'minutes': 510}
{'_id': ObjectId('6398d5134313c622229591db'), 'surname': 'Stekelenburg', 'team': 'Netherlands', 'minutes': 540}
{'_id': ObjectId('6398d5194313c62222959226'), 'surname': 'Villar', 'team': 'Paraguay', 'minutes': 480}
{'_id': ObjectId('6398d5234313c6222295929a'), 'surname': 'Casillas', 'team': 'Spain', 'minutes': 540}
{'_id': ObjectId('6398d5314313c622229592cb'), 'surname': 'Muslera', 'team': 'Uruguay', 'minutes': 570}

In [16]:
result6 = client['gamedp']['players'].aggregate([
    {
        '$lookup': {
            'from': 'teams', 
            'localField': 'team', 
            'foreignField': 'team', 
            'as': 're'
        }
    }, {
        '$match': {
            '$and': [
                {
                    'minutes': {
                        '$gt': 350
                    }
                }, {
                    're.ranking': {
                        '$lt': 10
                    }
                }
            ]
        }
    }, {
        '$count': 'SuperStar'
    }

])

for i in result6:
    print(i)

{'SuperStar': 54}

In [31]:
result8 = client['gamedp']['teams'].aggregate([
    {
        '$sort': {
            'goalsAgainst': -1, 
            'goalsFor': 1
        }
    }, {
        '$limit': 1
    }
])
result801 = client['gamedp']['teams'].aggregate([
    {
        '$sort': {
            'goalsAgainst': 1, 
            'goalsFor': -1
        }
    }, {
        '$limit': 1
    }
])
for i in result8:
    print('Goals for to Goals against           ',i)
for j in result801:
    print('Goals against to Goals for           ',j)

Goals for to Goals against--------------- {'_id': ObjectId('6398d5474313c62222959303'), 'team': 'North Korea', 'ranking': 105, 'games': 3, 'wins': 0, 'draws': 0, 'losses': 3, 'goalsFor': 1, 'goalsAgainst': 12, 'yellowCards': 2, 'redCards': 0}
Goals against to Goals for++++++++++++++ {'_id': ObjectId('6398d5444313c622229592e6'), 'team': 'Portugal', 'ranking': 3, 'games': 4, 'wins': 1, 'draws': 2, 'losses': 1, 'goalsFor': 7, 'goalsAgainst': 1, 'yellowCards': 8, 'redCards': 1}

In [7]:

result08 = client['gamedp']['players'].aggregate([
    {
        '$match': {
            '$or': [
                {
                    'position': 'midfielder'
                }, {
                    'position': 'defender'
                }
            ]
        }
    }, {
        '$group': {
            '_id': {
                'position': '$position', 
                'team': '$team'
            }, 
            'average passes': {
                '$avg': '$passes'
            }
        }
    }
])
for i in result08:
    print(i)

{'_id': {'position': 'defender', 'team': 'Brazil'}, 'average passes': 190.0}
{'_id': {'position': 'defender', 'team': 'Honduras'}, 'average passes': 55.0}
{'_id': {'position': 'midfielder', 'team': 'England'}, 'average passes': 112.14285714285714}
{'_id': {'position': 'defender', 'team': 'Greece'}, 'average passes': 42.5}
{'_id': {'position': 'midfielder', 'team': 'Italy'}, 'average passes': 85.0}
{'_id': {'position': 'defender', 'team': 'Chile'}, 'average passes': 109.71428571428571}
{'_id': {'position': 'midfielder', 'team': 'Paraguay'}, 'average passes': 111.14285714285714}
{'_id': {'position': 'defender', 'team': 'Slovenia'}, 'average passes': 98.75}
{'_id': {'position': 'midfielder', 'team': 'Germany'}, 'average passes': 177.16666666666666}
{'_id': {'position': 'midfielder', 'team': 'Nigeria'}, 'average passes': 70.0}
{'_id': {'position': 'midfielder', 'team': 'Netherlands'}, 'average passes': 169.5}
{'_id': {'position': 'defender', 'team': 'Uruguay'}, 'average passes': 82.83333333333333}
{'_id': {'position': 'midfielder', 'team': 'Denmark'}, 'average passes': 56.09090909090909}
{'_id': {'position': 'midfielder', 'team': 'Slovakia'}, 'average passes': 74.875}
{'_id': {'position': 'midfielder', 'team': 'Greece'}, 'average passes': 85.2}
{'_id': {'position': 'midfielder', 'team': 'Serbia'}, 'average passes': 59.77777777777778}
{'_id': {'position': 'defender', 'team': 'South Korea'}, 'average passes': 95.66666666666667}
{'_id': {'position': 'defender', 'team': 'Cameroon'}, 'average passes': 77.375}
{'_id': {'position': 'defender', 'team': 'Italy'}, 'average passes': 111.2}
{'_id': {'position': 'defender', 'team': 'Algeria'}, 'average passes': 102.0}
{'_id': {'position': 'defender', 'team': 'South Africa'}, 'average passes': 66.5}
{'_id': {'position': 'midfielder', 'team': 'Uruguay'}, 'average passes': 100.22222222222223}
{'_id': {'position': 'defender', 'team': 'Japan'}, 'average passes': 83.6}
{'_id': {'position': 'defender', 'team': 'North Korea'}, 'average passes': 54.0}
{'_id': {'position': 'midfielder', 'team': 'Mexico'}, 'average passes': 106.2}
{'_id': {'position': 'midfielder', 'team': 'Brazil'}, 'average passes': 111.75}
{'_id': {'position': 'midfielder', 'team': 'Japan'}, 'average passes': 80.5}
{'_id': {'position': 'defender', 'team': 'Australia'}, 'average passes': 78.75}
{'_id': {'position': 'midfielder', 'team': 'Chile'}, 'average passes': 73.28571428571429}
{'_id': {'position': 'defender', 'team': 'Denmark'}, 'average passes': 72.0}
{'_id': {'position': 'midfielder', 'team': 'North Korea'}, 'average passes': 75.6}
{'_id': {'position': 'defender', 'team': 'Germany'}, 'average passes': 189.83333333333334}
{'_id': {'position': 'midfielder', 'team': 'New Zealand'}, 'average passes': 42.4}
{'_id': {'position': 'defender', 'team': 'France'}, 'average passes': 80.66666666666667}
{'_id': {'position': 'midfielder', 'team': 'Algeria'}, 'average passes': 68.22222222222223}
{'_id': {'position': 'defender', 'team': 'Serbia'}, 'average passes': 84.66666666666667}
{'_id': {'position': 'midfielder', 'team': 'Slovenia'}, 'average passes': 88.6}
{'_id': {'position': 'defender', 'team': 'Slovakia'}, 'average passes': 89.0}
{'_id': {'position': 'midfielder', 'team': 'Honduras'}, 'average passes': 52.42857142857143}
{'_id': {'position': 'midfielder', 'team': 'Spain'}, 'average passes': 212.5}
{'_id': {'position': 'midfielder', 'team': 'Ivory Coast'}, 'average passes': 114.2}
{'_id': {'position': 'midfielder', 'team': 'Switzerland'}, 'average passes': 60.57142857142857}
{'_id': {'position': 'midfielder', 'team': 'Ghana'}, 'average passes': 172.33333333333334}
{'_id': {'position': 'defender', 'team': 'Paraguay'}, 'average passes': 111.28571428571429}
{'_id': {'position': 'midfielder', 'team': 'France'}, 'average passes': 67.28571428571429}
{'_id': {'position': 'midfielder', 'team': 'Australia'}, 'average passes': 63.09090909090909}
{'_id': {'position': 'defender', 'team': 'Portugal'}, 'average passes': 91.71428571428571}
{'_id': {'position': 'defender', 'team': 'Netherlands'}, 'average passes': 182.5}
{'_id': {'position': 'midfielder', 'team': 'Portugal'}, 'average passes': 78.375}
{'_id': {'position': 'midfielder', 'team': 'South Africa'}, 'average passes': 84.75}
{'_id': {'position': 'defender', 'team': 'Nigeria'}, 'average passes': 52.666666666666664}
{'_id': {'position': 'midfielder', 'team': 'USA'}, 'average passes': 76.75}
{'_id': {'position': 'defender', 'team': 'USA'}, 'average passes': 116.0}
{'_id': {'position': 'defender', 'team': 'Spain'}, 'average passes': 213.0}
{'_id': {'position': 'defender', 'team': 'Ivory Coast'}, 'average passes': 81.2}
{'_id': {'position': 'defender', 'team': 'Argentina'}, 'average passes': 138.16666666666666}
{'_id': {'position': 'defender', 'team': 'New Zealand'}, 'average passes': 79.2}
{'_id': {'position': 'midfielder', 'team': 'South Korea'}, 'average passes': 110.71428571428571}
{'_id': {'position': 'defender', 'team': 'Mexico'}, 'average passes': 152.14285714285714}
{'_id': {'position': 'defender', 'team': 'Switzerland'}, 'average passes': 53.5}
{'_id': {'position': 'midfielder', 'team': 'Argentina'}, 'average passes': 151.71428571428572}
{'_id': {'position': 'midfielder', 'team': 'Cameroon'}, 'average passes': 77.66666666666667}
{'_id': {'position': 'defender', 'team': 'Ghana'}, 'average passes': 113.85714285714286}
{'_id': {'position': 'defender', 'team': 'England'}, 'average passes': 120.33333333333333}

In [5]:
client = pymongo.MongoClient('mongodb+srv://rahu:uQVq.M9jA5F8bXT@cluster0.e56nbjp.mongodb.net/test')
result09 = client['gamedp']['players'].aggregate([
    {
        '$match': {
            'position': 'defender'
        }
    }, {
        '$group': {
            '_id': {
                'passes': '$passes',
                'team': '$team'
            }, 
            'average passes': {
                '$avg': '$passes'
            }
        }
    }, {
        '$match': {
            'average passes': {
                '$gt': 150
            }
        }
    }
])

for i in result09:
    print(i)

{'_id': {'passes': 173, 'team': 'England'}, 'average passes': 173.0}
{'_id': {'passes': 202, 'team': 'Mexico'}, 'average passes': 202.0}
{'_id': {'passes': 215, 'team': 'Brazil'}, 'average passes': 215.0}
{'_id': {'passes': 244, 'team': 'Mexico'}, 'average passes': 244.0}
{'_id': {'passes': 152, 'team': 'Cameroon'}, 'average passes': 152.0}
{'_id': {'passes': 249, 'team': 'Brazil'}, 'average passes': 249.0}
{'_id': {'passes': 180, 'team': 'USA'}, 'average passes': 180.0}
{'_id': {'passes': 223, 'team': 'Brazil'}, 'average passes': 223.0}
{'_id': {'passes': 248, 'team': 'Ghana'}, 'average passes': 248.0}
{'_id': {'passes': 235, 'team': 'Paraguay'}, 'average passes': 235.0}
{'_id': {'passes': 167, 'team': 'Ghana'}, 'average passes': 167.0}
{'_id': {'passes': 282, 'team': 'Germany'}, 'average passes': 282.0}
{'_id': {'passes': 166, 'team': 'Portugal'}, 'average passes': 166.0}
{'_id': {'passes': 224, 'team': 'Brazil'}, 'average passes': 224.0}
{'_id': {'passes': 265, 'team': 'Netherlands'}, 'average passes': 265.0}
{'_id': {'passes': 254, 'team': 'Spain'}, 'average passes': 254.0}
{'_id': {'passes': 299, 'team': 'Spain'}, 'average passes': 299.0}
{'_id': {'passes': 189, 'team': 'Netherlands'}, 'average passes': 189.0}
{'_id': {'passes': 360, 'team': 'Germany'}, 'average passes': 360.0}
{'_id': {'passes': 244, 'team': 'Germany'}, 'average passes': 244.0}
{'_id': {'passes': 159, 'team': 'Slovakia'}, 'average passes': 159.0}
{'_id': {'passes': 167, 'team': 'Argentina'}, 'average passes': 167.0}
{'_id': {'passes': 152, 'team': 'Portugal'}, 'average passes': 152.0}
{'_id': {'passes': 271, 'team': 'Netherlands'}, 'average passes': 271.0}
{'_id': {'passes': 202, 'team': 'Slovakia'}, 'average passes': 202.0}
{'_id': {'passes': 188, 'team': 'Argentina'}, 'average passes': 188.0}
{'_id': {'passes': 187, 'team': 'Chile'}, 'average passes': 187.0}
{'_id': {'passes': 218, 'team': 'Argentina'}, 'average passes': 218.0}
{'_id': {'passes': 259, 'team': 'Netherlands'}, 'average passes': 259.0}
{'_id': {'passes': 174, 'team': 'Mexico'}, 'average passes': 174.0}
{'_id': {'passes': 202, 'team': 'Paraguay'}, 'average passes': 202.0}
{'_id': {'passes': 172, 'team': 'Paraguay'}, 'average passes': 172.0}
{'_id': {'passes': 155, 'team': 'Italy'}, 'average passes': 155.0}
{'_id': {'passes': 178, 'team': 'Chile'}, 'average passes': 178.0}
{'_id': {'passes': 158, 'team': 'Serbia'}, 'average passes': 158.0}
{'_id': {'passes': 173, 'team': 'Portugal'}, 'average passes': 173.0}
{'_id': {'passes': 164, 'team': 'South Korea'}, 'average passes': 164.0}
{'_id': {'passes': 160, 'team': 'South Korea'}, 'average passes': 160.0}
{'_id': {'passes': 310, 'team': 'Spain'}, 'average passes': 310.0}
{'_id': {'passes': 402, 'team': 'Spain'}, 'average passes': 402.0}
{'_id': {'passes': 223, 'team': 'England'}, 'average passes': 223.0}
{'_id': {'passes': 212, 'team': 'Mexico'}, 'average passes': 212.0}